.app-title {
  font-size: 2rem;
}
.card-container {
  font-size: medium;
  font-weight: 600;
  text-align: left;
}
.todo-done {
  color: grey;
  text-decoration: line-through;
  background-color: rgb(102, 219, 232);
  margin: 2vh 0;
  padding: 2vh 15px;
  transition: all 300 ease;
}
.todo-notyet {
  color: black;
  background-color: rgb(60, 181, 76);
  margin: 2vh 0;
  padding: 2vh 15px;
}
.todo-nothing {
  font-style: italic;
  color: rgb(184, 173, 173);
  font-size: 1.2rem;
}